gmail-auto-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "aaecdc48-03ba-4982-9705-b55250907caf",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "tTj9cNuOKbEPHDjM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}\nact as an ai mail reply bot \ngive a reply for this mail\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "2d57b0c5-ceb7-4a37-8930-5ea64938147a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "6035c6cc-bf1e-459d-a04e-fecb04af81c8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "iDEk2UC2qwYD8rel",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "24071a05b8@vnrvjiet.in",
        "subject": "this is automation",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        0
      ],
      "id": "fa851474-743d-4b19-a33a-e39fe36c52ec",
      "name": "Send a message",
      "webhookId": "29548278-ac44-4e97-8cb7-9a000430e6d6",
      "credentials": {
        "gmailOAuth2": {
          "id": "tTj9cNuOKbEPHDjM",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "59490317-57e3-407e-b166-c75570f34be9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "97b5f105de13c89be41e0bfe93a930713e1a940a364c8d198bce5dfad95cbf49"
  },
  "id": "VWzDso2MMT0I9CfB",
  "tags": []
}
